@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400&display=swap');

@import 'variables.scss';
@import 'bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: $help_black;
    background-color: $help_white;
    margin: 0;
    background-image: url('/img/help_geoportal_bckgd.jpg');
    background-repeat: repeat;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.1;
	color: black;
}
b {
    font-weight: bolder;
}
a {
    color: $help_blue;
    text-decoration: none;
}
a:focus, a:hover {
	color: $help_darkblue;
	text-decoration: none;
}
img, iframe {
	max-width: 100%;
	display: block;
	margin: auto;
}
