*{
	margin:0;
	padding:0;
}

p{
margin-top:10px;
}

body{
	font-size:12px !important;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;


}

#page{
	width:900px;
	margin:50px auto;
}

#Sections{
    background-image: url("http://web-storymaps.bgdi.admin.ch/help/preview.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
	min-height: 500px;
	margin-top: -80px;
}

#menuHelp{
	float:left;
	width:222px;
	padding-top:24px; 
	padding-left:16px;
	line-height: 16px;
}

#FAQ{
	position: absolute;
	top: 450px;
}

#menuHelp a, a:visited, a:focus{
	color:#000;
	font-size:0.9em !important;
	font-weight:normal;
	padding-left:10px;
	text-decoration: none; 
	background-color: transparent !important;

}

#menuHelp a:hover{
	color:#ff0000 !important;
	background-color: transparent !important;
}

#helpSection{
	float:left;
	width:620px;
	padding-top:80px;


}

#helpSection a, a:visited, a:focus{
	color:#006699;
	font-size:12px !important;
	font-weight:normal;
	text-decoration: none; 
}

#helpSection a:hover{
	text-decoration: underline; 
}



h1 {
    display: none;
}
h2{
	color:#000;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:10px;
}

h3{
	color:#000;
	font-size:0.9em !important;
	font-weight:bold;
	margin-top: 8px;
	padding-left: 4px;
	padding-top: 6px;
	border-top: 1px solid #CCCCCC;
	width:200px;
}

dl{
width:570px;
word-wrap: break-word;
text-align:justify; 

}

legend{
    color:#777;
    font-size:11px;
	max-width: 570px;
}


#contentContainer {
    float: left;
    margin-left: 0px !important;
    margin-right: 0;
}

div.wide {
    width: 960px;
}

#spalteNavigation {
    float: left;
    min-height: 0px;
    padding-top: 0px;
    width: 210px;
	display:none;
}

#PAGECONTROLL {
    margin-left: 237px;
}

#fachkontakt {
    padding-left: 237px;
}

#footer{
    margin-left: 237px;
	}